/* General */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}

header {
  padding: 10px;
  background-color: #324e8f;
}

h1 {
  font-size: 50px;
  color: #61dafb;
}

header h2 {
  font-size: 50px;
  color: #61dafb;
  font-weight: 900;
}

/* Televisor */
.display-section {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  
}

.tv {
  position: relative; /* Establece un contexto para posicionar elementos hijos */
  width: 1000px;
  height: 700px;
  background-color: #000;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid white;
  overflow: hidden; /* Asegura que el contenido no se salga de los bordes */
}

.logo {
  position: absolute; /* Fija el logo dentro de la TV */
  top: 36%; /* Ajusta su posición vertical */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Centra el logo basado en su ancho */
  width: 150px; /* Tamaño ajustado del logo */
  z-index: 10; /* Asegura que esté por encima del fondo */
}

.logo img {

  width: 160px; /* Reduce el tamaño del logo */
  left: 50px; /* Ajusta la posición del logo */
  border-radius: 10px;

}
.top-section {
  display: flex;
  width: 100%;
  height: 50%; 
}

.scoreboard {
  display:flex;
  width: 100%;
  justify-content: space-between;

}
.name{
  flex-direction: column; 
}

.score{
  font-size: 160px;
  text-align: center;
  display: flex;
  margin: 0;


}

.competitor {
  flex: 1;
  text-align: center;
  font-size: 25px;

}

.blue {
  background-color: #00f;
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column; /* Apila el nombre y el puntaje verticalmente */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  width: 50%;
  height: 100%;
}

.red {
  background-color: #f00;
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column; /* Apila el nombre y el puntaje verticalmente */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  width: 50%;
  height: 100%;

}

.timer {
  color: rgb(255, 140, 0);
  font-size: 80px;
  font-weight: bold;
  margin-top: 130px;
}

.tv-container{
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
}


.judges-results {
  z-index: 1;
  display: flex;
  flex-direction: row; /* Organiza los elementos en filas */
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.judge {
  font-size: 30px;
  background-color: black;
  margin:  0;
  border-radius: 5px;
  border: 5px solid white; /* Agrega un borde blanco de 50px */
  width: 220px;
  height: 150px;
}

.bars {
  display: flex;
  gap: 2px;
  margin: 5px;
  margin-top: 10px;
}

.bar {
  width: 10px;
  height: 20px;
}

.bar.blue {
  background-color: blue;
}

.bar.red {
  background-color: red;
}

.winner-message {
  position: absolute; /* Coloca el texto sobre el contenido de la TV */
  top: 55%; /* Ajusta la posición vertical debajo del logo */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Centra el texto basado en su ancho */
  font-size: 60px; /* Ajusta el tamaño del texto */
  font-weight: bold;
  color: white; /* Color predeterminado, cambiará dinámicamente */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Añade sombra para visibilidad */
  z-index: 5; /* Asegura que esté encima de otros elementos en la TV */
  text-align: center; /* Centra el texto */
}




/* Tablet */
.tablet-section {
  margin: 20px 0;
  display: flex;
  align-content: center;
  justify-content: center;

}

.tablet {
  width: 500px;
  background-color: #2d3727;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px; /* Ajusta la altura para que los botones se distribuyan correctamente */
  border: 5px solid white;

}

.control-button-start {
  font-size: 20px;
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.control-button {
  font-size: 20px;
  display: block;
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Sección para los botones de advertencia (azul y rojo) */
.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 15px;
  margin: auto 10px; /* Para que los botones queden al fondo de la tablet */
}

.button-point {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto 10px;
}

.control-button-blue:hover {
  background-color: blue;
}

.control-button-red:hover {
  background-color: red;
}

.show-results-button {
  font-size: 25px;
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #28a745; /* Verde */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.show-results-button:hover {
  background-color: #218838; /* Verde más oscuro */
}

#show-results-button:hover:enabled {
  background-color: #21a1f1;
}

.show-results-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}

/* Estilo general para los contenedores de los inputs y el botón */
.timer-inputs {
  display: flex;
  flex-direction: column; /* Cambia la dirección a columna */
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacio entre los elementos */
  margin-top: 0;
}

/* Contenedor de los inputs para alinearlos en fila */
.time-inputs {
  display: flex; /* Flexbox para que estén en fila */
  gap: 10px; /* Espacio entre los inputs */
  align-items: center; /* Alinear los inputs verticalmente */
}

/* Estilo para los inputs de minutos y segundos */
#input-minutes, #input-seconds {
  width: 130px;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  border: 2px solid #3498db;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

/* Cambiar el color del borde cuando el input está enfocado */
#input-minutes:focus, #input-seconds:focus {
  border-color: #2980b9;
}

/* Estilo para el botón */
#set-time-button {
  padding: 10px 20px;
  font-size: 25px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Cambiar el color del fondo del botón al pasar el mouse */
#set-time-button:hover {
  background-color: #2980b9;
}

/* Agregar sombra sutil al botón al hacer clic */
#set-time-button:active {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}



/* Mobile */
.mobile-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%; /* Para que ocupe todo el ancho disponible */
}

.mobile {
  width: 400px;
  height: 200px;
  background-color: #444;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  padding: 5px;
  border-width: 10px;
  border-style: double;
  border-color: gray;
  
}

.mobile h4 {
  margin: 5px 0;
  font-size: 20px;
}

.judge-half {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group {
  display: flex; /* Activa flexbox */


}

.button-group-more,
.button-group-less {
  display: flex; /* Activa flexbox para los botones dentro de cada grupo */
  flex-direction: column; /* Acomoda los botones en una columna */
  gap: 5px; /* Agrega espacio entre los botones */
}


/* Contenedor de los botones azules y rojos alineados en fila */
.buttons-container {
  display: flex;
  width: 100%;
  justify-content: space-between; /* Separa los contenedores de los botones */
  gap: 5px;
}

/* Botones de acción */
.button-group button {
  margin: 3px;
  padding: 6px 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  color: black;
  
}

  .button-group button:hover {
    opacity: 0.8;  /* Añade un efecto sutil al pasar el ratón */
  }

/* Botones azules */
.blue {
  background-color: #00f;
}

.blue:hover {
  background-color: #003366;
}

/* Botones rojos */
.red {
  background-color: #f00;
}

.red:hover {
  background-color: #660000;
}