/* General */
body {

  font-family: sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}

header {
  padding: 5px;
  background-color: #324e8f;
}

h1 {
  font-size: 50px;
  color: #61dafb;
}

header h2 {
  font-size: 50px;
  color: #61dafb;
  font-weight: 900;
  animation: expandirContraer 3s infinite ease-in-out; /* 3 segundos, se repite indefinidamente, con transición suave */
  }

  @keyframes expandirContraer {
    0%, 100% {
      transform: scale(1); /* Tamaño normal */
    }
    50% {
      transform: scale(1.1); /* Expansión al 120% */
    }
  }


  h3 {
    font-size: 25px;
    color: #61dafb;
    font-weight: 900;
  }

  .titulo-seccion {
    width: 100%; /* Asegura que el contenedor del título ocupe todo el ancho de la sección */
    margin-bottom: 20px; /* Espaciado debajo del título para separar del resto del contenido */
    text-align: center; /* Asegura que el texto del título se alinee en el centro */
  }
  
/* Estilos generales de la animación */
.section-animate {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1.5s ease-out, transform 2s ease-out;
}

/* Clase para las secciones que han entrado en la vista */
.section-visible {
  opacity: 1;
  transform: translateY(0);
}




/* Televisor */
.display-section {
  display: flex;
  justify-content: center;
  align-content: center;
  
}

.tv {
  position: relative;
  width: auto;
  height: auto;
  background-color: #000;
  border-radius: 20px;
  border: 5px solid white;
}

.top-section {
  align-items: center;
  justify-items : center;
  width: 100%;
  height: 50%; 
  flex-wrap: wrap;
}

.logo {
  position: absolute; /* Centrada respecto al contenedor */
  top: 52%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta el punto de referencia */
  width: 150px; /* Tamaño ajustado del logo */
  z-index: 10; /* Asegura que esté por encima del fondo */
}

.logo img {
  width: 160px; /* Reduce el tamaño del logo */
  border-radius: 15px;

}


.scoreboard {
  display:flex;
  width: 100%;
  justify-content: center;

}


.score{
  font-size: 160px;
  text-align: center;
  display: flex;
  margin: 0;

}

.competitor {
  font-size: 25px;

}

.blue {
  background-color:rgb(46, 76, 210);
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column; /* Apila el nombre y el puntaje verticalmente */
  align-items: center; /* Centra horizontalmente */
  width: 50%;
  height: 100%;
}

.red {
  background-color: #f00;
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column; /* Apila el nombre y el puntaje verticalmente */
  align-items: center; /* Centra horizontalmente */
  width: 50%;
  height: 100%;
}

h4{
  margin-top: 3px;
  margin-bottom: 0;
}


.judges-results {
  z-index: 1;
  display: flex;
  flex-direction: row; /* Organiza los elementos en filas */
  justify-content: center;
  gap: 15px;
  margin: 0 10px;
}

.display-section .judges-results {
  margin-top: 25%;
}

.judge {
  font-size: 30px;
  background-color: black;
  border-radius: 5px;
  border: 5px solid white; /* Agrega un borde blanco de 50px */
  width: 200px;
  height: 75px;
  display: flex;
  flex-direction: column;
}


.winner-message {
  position: absolute; /* Centrada respecto al contenedor */
  top: 70%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta el punto de referencia */
  font-size: 60px;
  font-weight: bold;
  color: white; /* Color predeterminado, cambiará dinámicamente */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Añade sombra para visibilidad */
  z-index: 5; /* Asegura que esté encima de otros elementos en la TV */
  width: 100%;
}

.bars{
  margin-top: 10px;
}


/* Tablet */
.tablet-section {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en filas múltiples */
  border: 5px solid white;
  width: 55%;
  background-color: #2d3727;
  margin: auto;

}

.tablet {
  margin: 15px 60px; /* Espaciado horizontal (izquierda y derecha) */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: center;
  width: auto;
  height: auto;
}

.timer-inputs{
padding: 25px;

}

.button-result{
  padding: 25px;
}


/* Estilo común para todos los botones */
button tablet-section{
  transition: background-color 0.3s ease;
  font-size: 22px;
  cursor: pointer;
  border-radius: 5px;
}
button.disabled {
  background-color: grey;
  cursor: not-allowed;
}




.control-button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

/* Sección para los botones de advertencia (azul y rojo) */
.button-wrapper {
  width: 100%;
  margin: auto; /* Para que los botones queden al fondo de la tablet */
}

.show-results-button {
  font-size: 22px;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #28a745; /* Verde */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.show-results-button:hover {
  background-color: #218838; /* Verde más oscuro */
}

#show-results-button:hover:enabled {
  background-color: #21a1f1;
}

#reset-combat-button:hover:enabled {
  background-color: #21a1f1;
}

#start-button:hover:enabled {
  background-color: #21a1f1;
}


.show-results-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}






/* Mobile */
.mobile-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%; /* Para que ocupe todo el ancho disponible */

}

.mobile {
  width: auto;
  height: auto;
  background-color: #444;
  border-radius: 30px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding: 10px;
  border-width: 10px;
  border-style: double;
  border-color: gray;
}

.mobile h4 {
  margin: 5px 0;
  margin-bottom: 20px;  
  font-size: 20px;
}

/* Contenedor de los botones azules y rojos alineados en fila */
.buttons-container {
  display: flex;
  width: 100%;
  justify-content: space-between; /* Separa los contenedores de los botones */
  gap: 20px;
}


/* Botón seleccionado */
.judge-button.selected {
  border: 3px solid yellow; /* Resaltar con un borde amarillo */
  transform: scale(1.1); /* Aumentar ligeramente el tamaño */
  opacity: 1; /* Asegurarse de que esté completamente visible */
}

/* Botones opacados */
.judge-button.faded {
  opacity: 0.5; /* Reducir la opacidad para botones no seleccionados */
  transform: scale(1); /* Tamaño normal */
}

.judge-button{
  width: 100%;
  height: auto;
  padding: 10px 25px;
  font-size: 20px;
  transition: transform 0.2s ease, opacity 0.2s ease, border 0.2s ease;
  
}







@media (max-width: 768px) {
  /* Ajustes generales */
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 30px;
  }

  header h2 {
    font-size: 30px;

  }

    /* Ajustes TV */


.display-section {
flex-wrap: wrap;
}

  .tv {
    width: 95%;
    height: 100%;
  }

  .competitor {
    width: 100%; /* Ocupa todo el ancho */
    font-size: 16px;
  }

  .name{
    margin: 0 5px;
  }

.logo{
  top: 30%; /* Centra verticalmente */
}

  .logo img {
    width: 75px; /* Reduce el tamaño del logo */
    border-radius: 15px;

  }

  .winner-message {    
    top: 40%; /* Centra verticalmente */
    font-size: 40px;
  }


  .score {
    font-size: 80px; /* Reducir tamaño del puntaje */
  }

.bottom-section{
  justify-content: center;

}

.judges-results{
flex-direction: column; /* Cambiar a orientación vertical */
}


.judges-results h4{
  font-size: 20px;
  margin-top: 5px;
  
}

.judge{
  width: 100%;

}




    /* Ajustes TABLET */
  .tablet-section {
    width: 100%; /* Ocupa todo el ancho */
    margin: 10px 0; /* Agregar espacio entre las tabletas */
    
  }

  .tablet {
    width: 90%;
    margin: 10px auto; /* Centrarlas verticalmente */
    padding: 10px;
    border: 2px solid white;
    gap: 5px;
  }





      /* Ajustes MOBILE */

  .mobile-section {
    flex-direction: column; /* Cambiar a orientación vertical */
    align-items: center; /* Centrar elementos */

  }

  .mobile {
    width: 90%; /* Ocupa casi todo el ancho */
    height: 100%; /* Ajusta la altura según el contenido */
  }



  .buttons-container {
    flex-direction: column; /* Cambiar orientación a vertical */
    gap: 5px; /* Espacio entre los botones */
    align-items: center;
    justify-content: center;
  }
}



