/* General */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}

header {
  padding: 5px;
  background-color: #324e8f;
}

h1 {
  font-size: 50px;
  color: #61dafb;
}

header h2 {
  font-size: 50px;
  color: #61dafb;
  font-weight: 900;
  animation: expandirContraer 3s infinite ease-in-out; /* 3 segundos, se repite indefinidamente, con transición suave */
  }
  @keyframes expandirContraer {
    0%, 100% {
      transform: scale(1); /* Tamaño normal */
    }
    50% {
      transform: scale(1.15); /* Expansión al 120% */
    }
  }

  h3 {
    font-size: 25px;
    color: #61dafb;
    font-weight: 900;
  }

  .titulo-seccion {
    width: 100%; /* Asegura que el contenedor del título ocupe todo el ancho de la sección */
    margin-bottom: 20px; /* Espaciado debajo del título para separar del resto del contenido */
    text-align: center; /* Asegura que el texto del título se alinee en el centro */
  }

/* Televisor */
.display-section {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  
}

.tv {
  position: relative; /* Establece un contexto para posicionar elementos hijos */
  width: 1000px;
  height: 700px;
  background-color: #000;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid white;
  overflow: hidden; /* Asegura que el contenido no se salga de los bordes */
}

.logo {
  position: absolute; /* Fija el logo dentro de la TV */
  top: 36%; /* Ajusta su posición vertical */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Centra el logo basado en su ancho */
  width: 150px; /* Tamaño ajustado del logo */
  z-index: 10; /* Asegura que esté por encima del fondo */
}

.logo img {

  width: 160px; /* Reduce el tamaño del logo */
  left: 50px; /* Ajusta la posición del logo */
  border-radius: 10px;

}
.top-section {
  display: flex;
  width: 100%;
  height: 50%; 
}

.scoreboard {
  display:flex;
  width: 100%;
  justify-content: space-between;

}
.name{
  flex-direction: column; 
}

.score{
  font-size: 160px;
  text-align: center;
  display: flex;
  margin: 0;


}

.competitor {
  flex: 1;
  text-align: center;
  font-size: 25px;

}

.blue {
  background-color: rgb(46, 76, 210);
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column; /* Apila el nombre y el puntaje verticalmente */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  width: 50%;
  height: 100%;
}

.red {
  background-color: #f00;
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column; /* Apila el nombre y el puntaje verticalmente */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  width: 50%;
  height: 100%;

}


.tv-container{
  display: flex;
  width: 100%;
  height: 60%;
  align-items: center;
  justify-content: center;
}


.judges-results {
  z-index: 1;
  display: flex;
  flex-direction: row; /* Organiza los elementos en filas */
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.judge {
  font-size: 30px;
  background-color: black;
  margin:  0;
  border-radius: 5px;
  border: 5px solid white; /* Agrega un borde blanco de 50px */
  width: 220px;
  height: 150px;
}


.winner-message {
  position: absolute; /* Coloca el texto sobre el contenido de la TV */
  top: 55%; /* Ajusta la posición vertical debajo del logo */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Centra el texto basado en su ancho */
  font-size: 70px; /* Ajusta el tamaño del texto */
  font-weight: bold;
  color: white; /* Color predeterminado, cambiará dinámicamente */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Añade sombra para visibilidad */
  z-index: 5; /* Asegura que esté encima de otros elementos en la TV */
  text-align: center; /* Centra el texto */
}




/* Tablet */
.tablet-section {
  margin: 20px 0;
  display: flex;
  align-content: center;
  justify-content: center;

}

.tablet {
  width: 500px;
  background-color: #2d3727;
  border-radius: 10px;
  height: 250px; /* Ajusta la altura para que los botones se distribuyan correctamente */
  border: 5px solid white;
}

.timer-inputs{
padding: 25px;

}

.button-result{
  padding: 25px;
}


/* Estilo común para todos los botones */
button tablet-section{
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  font-size: 22px;
  border: none;
  cursor: pointer;
  border-radius: 5px;


}
/* Botón habilitado: color verde */
button.enabled {
  background-color: green;
  color: white;
  cursor: pointer;
}
button.disabled {
  background-color: grey;
  color: #666;
  cursor: not-allowed;
}

/* Botón al pasar el mouse (hover): color celeste */
button.enabled:hover {
  background-color: #00bcd4;
}


/* Opcional: si deseas un efecto cuando el botón está en estado normal (por defecto) */
button tablet-section {
  background-color: #4caf50; /* Color verde predeterminado */
}


.control-button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

/* Sección para los botones de advertencia (azul y rojo) */
.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 15px;
  margin: auto 10px; /* Para que los botones queden al fondo de la tablet */
}

.show-results-button {
  font-size: 22px;
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #28a745; /* Verde */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.show-results-button:hover {
  background-color: #218838; /* Verde más oscuro */
}

#show-results-button:hover:enabled {
  background-color: #21a1f1;
}


/* Mobile */
.mobile-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%; /* Para que ocupe todo el ancho disponible */
}

.mobile {
  width: 400px;
  height: 200px;
  background-color: #444;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  padding: 5px;
  border-width: 10px;
  border-style: double;
  border-color: gray;
  
}

.mobile h4 {
  margin-bottom: 50px;
  margin-top: 0;
  font-size: 20px;
}

/* Contenedor de los botones azules y rojos alineados en fila */
.buttons-container {
  display: flex;
  gap: 20px;
}
/* Botón seleccionado */
.judge-button.selected {
  border: 3px solid yellow; /* Resaltar con un borde amarillo */
  transform: scale(1.1); /* Aumentar ligeramente el tamaño */
  opacity: 1; /* Asegurarse de que esté completamente visible */
}

/* Botones opacados */
.judge-button.faded {
  opacity: 0.5; /* Reducir la opacidad para botones no seleccionados */
  transform: scale(1); /* Tamaño normal */
}

.judge-button{
  width: 100%;
  height: 60px;
  font-size: 20px;
  transition: transform 0.2s ease, opacity 0.2s ease, border 0.2s ease;
  
}
