/* GENERAL INICIO */

html{
  overscroll-behavior: none;
}



/* Estilos generales */
body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  margin-top: 120px;
  font-family: montserrat;
}
html {
  scroll-padding-top: 150px; /* Ajusta este valor al alto de tu barra de navegación */
}

.encabezado_pricipal{
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: rgba(174, 172, 177, 0.485);
  text-align: center;
  padding-top: 20px;
  animation: expandirContraer 3s infinite ease-in-out; /* 3 segundos, se repite indefinidamente, con transición suave */
  }
  
  @keyframes expandirContraer {
    0%, 100% {
      transform: scale(1); /* Tamaño normal */
    }
    50% {
      transform: scale(1.1); /* Expansión al 110% */
    }
  }

/* GENERAL FIN */


/* PARTE 1 INICIO */

/* Header */
header {
  display: flex;
  justify-content: space-between; /* Separa el logo y la barra de navegación */
  align-items: center;
  padding: 10px 0;
  color: white;
  width: auto;


}
header .logo {
  position: fixed; /* Hace que el logo sea fijo */
  top: 10px; /* Ajusta la distancia desde la parte superior de la página */
  left: 10%;
  z-index: 1001; /* Asegura que el logo esté por encima de la barra */


}

.logo {
  background-image: url('martial.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: screen; /* Esto eliminará las áreas negras, manteniendo las letras blancas */
}


header .logo img {
  width: 300px;
}


.logo-mobile{
  display: none;
}

.navbar {
  width: 100%; /* La barra de navegación ocupa todo el ancho */
  max-width: 100%; /* Asegura que no se desborde */
  position: fixed; /* Fija la barra de navegación */
  top: 0; /* Alinea la barra en la parte superior de la ventana */
  background: linear-gradient(135deg, #141415, #40414a); /* Fondo degradado similar al footer */
  color: white; /* Texto en blanco */
  z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
  padding-right: 10%;
  box-sizing: border-box; /* Para incluir el padding dentro del ancho total */
  display: flex;
  justify-content: end; /* Alinea los elementos dentro de la barra de navegación a la derecha */


}


header .navbar ul {
  list-style: none;
  display: flex;
  gap: 0;
  align-items: end;  /* Centra verticalmente todos los elementos dentro del header */
}

header .navbar ul li {
  display: inline;
}

header .navbar ul li a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  transition: all 0.3s ease; /* Transición suave */
  border-radius: 10px; /* Esquinas redondeadas */
  padding: 8px 20px;
}

header .navbar ul li a:hover {
  background-color: white; /* Fondo blanco al pasar el cursor */
  color: black; /* Texto negro al pasar el cursor */
  border: 1px solid black; /* Borde negro */
}

/* Contenedor del carrusel */
.servicios_carrusel_seccion_completa {
  width: 80%;
  max-width: 800px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* Imagen destacada */
.imagen_principal_carrusel {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
}

.imagen_principal_carrusel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}



/* Carrusel de miniaturas */
.servicios-carrusel {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  overflow-x: auto;
}

.servicios {
  width: 100px;
  height: 70px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.servicios img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.servicios:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}


/* PARTE 1 FIN */

section.imagensobretexto {
  box-sizing: border-box;
  margin: 0;
  padding: 100px;
  display: flex;
}

section.imagensobretexto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

  font-family: Arial, sans-serif;
}

.gallery-container {
  display: flex;
  align-items: flex;
  justify-content: center;
  gap: 50px; /* Espacio entre cada bloque */
  padding: 70px;
}

.gallery-item {
  width: 300px; /* Ancho de cada bloque */
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra alrededor de cada bloque */
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 90%;
  display: block;
  transition: transform 0.3s ease; /* Efecto de zoom en la imagen */
  border-radius: 20px;
  border-style: solid; /* Cambia este valor a cualquiera de los estilos mencionados arriba */
  border-width: 5px;
  border-color: white;
}

.image-container:hover img {
  transform: scale(1.2); /* Agranda la imagen al pasar el cursor */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  color: #fff; /* Color del texto */
  padding: 10px;
  text-align: center;
  opacity: 0; /* Hace invisible el texto inicialmente */
  transition: opacity 0.3s ease; /* Transición de aparición del texto */
}

.image-container:hover .overlay {
  opacity: 1; /* Muestra el texto al pasar el cursor */
}
.textoservicio{
  font-family: sans-serif;
  color: #fff; /* Color del texto */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra oscura */
  outline: none; /* Elimina cualquier contorno adicional */
  border: none; /* Asegura que no haya borde */
  background: transparent; /* Sin fondo */
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-weight: 700; /* Más grueso */
}

/* PARTE 2 FIN */

#Simulador {
  padding: 40px;
  text-align: center;
  background-color: black;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
.botones-simulacion{
  display: flex;
  flex-direction: column;  /* Esto pone los botones y los párrafos en columna */
  align-items: center;     /* Alinea los elementos en el centro */
  gap: 20px;               /* Espacio entre los botones y los párrafos */


}
.boton-simulacion{
  background-color: #444; /* Color gris oscuro */
  color: white;
  padding: 15px 30px;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
  border-radius: 50px;  /* Bordes redondeados */
  text-transform: uppercase; /* Pone el texto en mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  /* Sombra sutil */
  transition: all 0.3s ease;  /* Transición suave */
  width: 280px;  /* Tamaño fijo para los botones */
  margin: 0 auto;  /* Centrado automático */
}

.boton-simulacion:hover {
  background-color: #847373;  /* Cambio de color de fondo */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);  /* Sombra más pronunciada */
  transform: translateY(-4px);  /* Efecto de "levantado" */
}
/* Efecto de enfoque al dar clic en el botón */
.boton-simulacion:active {
  transform: translateY(4px);  /* Efecto al presionar */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


/* Estilo de la descripción */
.descripcion-simulacion {
  font-size: 1.3rem;
  color: #a6a5a5;  /* Gris suave para el texto */
  line-height: 1.5;
  max-width: 600px;  /* Limita el ancho del texto */
  margin: 0 auto;
  font-family: sans-serif;  /* Tipografía limpia */

}



/* Contenedor del carrousel */
.carousel-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  padding: 50px 0;
}

/* Contenedor de las imágenes */
.carousel-images .torneoimagen{
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform-origin: center center;
  animation: slide 1s infinite linear;
}

/* Cada imagen */
.carousel-images img {
  width: 300px;
  height: auto;
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
}

/* Efecto de agrandar la imagen al pasar el cursor */
.carousel-images img:hover {
  transform: scale(1.2);
}

/* Estilos para los botones de navegación */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}

.subtitulo {
  font-family: dancing;
  font-size: 50px;
  font-weight:bold;
  color: black; /* Color del texto */
  background-color: white; /* Fondo blanco */
  padding: 10px; /* Espaciado alrededor del texto */
  border-radius: 60px; /* Bordes redondeados */
  text-align: center; /* Centrar el texto */
  font-weight: bold; /* Negrita */
  margin: auto; /* Margen superior e inferior, centrado en la página */
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%; /* Ocupa el 80% del ancho de la página */
}

.quienes-somos{
  display: flex;
  margin: auto; /* Centra el párrafo dentro de su contenedor */
}



p.quienes-somos {
  color:gray;
  font-family: montserrat;
  font-size: 30px;
  font-weight:bold;
  width: 80%; /* Limita el ancho del párrafo al 70% del ancho total de la página */
  line-height: 1.6; /* Ajusta la altura de línea para mejorar la legibilidad */
  text-align: center;

  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */

  padding-bottom: 40px;
}

p.experiencia {
  color:gray;

  font-family: montserrat;
  font-size: 30px;
  font-weight: 900;
  width: 50%; /* Limita el ancho del párrafo al 70% del ancho total de la página */
  margin: 0 auto; /* Centra el párrafo dentro de su contenedor */
  line-height: 1.6; /* Ajusta la altura de línea para mejorar la legibilidad */
  text-align: center;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding-bottom: 60px;
  border-radius: 30%;
}



/* Contenedor general */
.secciones-container {
  display: flex;
  justify-content: center; /* Centra las tarjetas en el contenedor */
  gap: 50px; /* Espacio entre tarjetas */
  perspective: 1500px;
}

/* Estilos para cada tarjeta */
.seccion {
  width: 400px;
  height: 500px;
  perspective: inherit;
}

.tarjeta {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* Efecto de rotación en hover en cada tarjeta individual */
.seccion:hover .tarjeta {
  transform: rotateY(180deg);
}

/* Frente y reverso de cada tarjeta */
.seccion-front, .seccion-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  color: #fff;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10%; /* Redondeo de esquinas */
}

/* Estilos del frente */
.seccion-front {
  background: linear-gradient(200deg, #1e1e1e, #3c3c3c); /* Degradado en tonos negros y grises */
  font-size: 28px;
  font-family: 'Helvetica Neue', sans-serif; /* Tipografía moderna y sobria */
  line-height: 1.6;
}

/* Estilos del reverso */
.seccion-back {
  background: linear-gradient(300deg, #2b2b2b, #4d4d4d); /* Degradado más tenue para el reverso */
  font-size: 25px;
  transform: rotateY(180deg); /* Aplica la rotación al reverso para el efecto de flip */
  font-family: 'Helvetica Neue', sans-serif;
}








/* Estilos para el botón del menú */
.menu-toggle {
  display: none; /* Ocultar por defecto */
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1100;
}

/* Ocultar barra de navegación en móviles */
.navbar {
  display: none; /* Oculta el menú inicialmente */
  flex-direction: column; /* Alinea los elementos verticalmente */
  background-color: black;
  position: fixed; /* Hace que el menú sea desplegable */

  right: 0;
  width: 100%; /* Ocupa todo el ancho en móviles */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.navbar ul {
  flex-direction: column; /* Apila los enlaces */
  align-items: flex-start; /* Alinea los enlaces a la izquierda */
  padding: 20px;
  gap: 10px;
}


/* Mostrar menú cuando esté activo */
.navbar.active {
  display: flex; /* Muestra el menú desplegable */
}



/* Estilo del pop-up */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  z-index: 1000;
  display: none; /* Oculto por defecto */
  width: 300px;
}


/* Botón para cerrar */
.popup button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}




/* Sección de Contacto */
#Contacto {
  color: #2c3e50;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;

}

#Contacto h2 {
  font-size: 30px;
  font-family: edo;
  font-weight: 700;
  color:white;
  margin-bottom: 30px;
  letter-spacing: 1px;
  top: 0;
}

.formulario-contacto {
  display: flex;
  flex-wrap: wrap; /* Permite que los cuadros se ajusten en pantallas pequeñas */
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}

.formulario-contacto label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 600;
  color:white;
  font-family: edo;
}

.formulario-contacto input,
.formulario-contacto textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #dfe4ea;
  border-radius: 5px;
  background-color: #ffffff; /* Fondo blanco */
  color: #2c3e50;
  font-size: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.formulario-contacto input:focus,
.formulario-contacto textarea:focus {
  border-color: #f39c12; /* Resaltar el borde al hacer foco */
  outline: none;
}

.formulario-contacto .input-group {
  width: calc(50% - 10px); /* Cada cuadro ocupa la mitad del ancho */
  box-sizing: border-box;
}

.formulario-contacto .input-group.full-width {
  width: 100%; /* El cuadro del mensaje ocupa todo el ancho */
}

.formulario-contacto button {
  background-color: #f39c12; /* Color dorado para el botón */
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}

.formulario-contacto button:hover {
  background-color: #e67e22; /* Cambio de color al pasar el ratón */
}


footer {
  background: linear-gradient(135deg, #141415, #40414a); /* Fondo degradado similar al footer */
  color: white;
  text-align: center;
  position: relative;
  top: 20px;
  bottom: 0;
  width: 100%;
}

.footer-title {
  font-size: 60px;
  font-weight: bold;
  font-family: edo;
color: white;
margin: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}













/* Estilos responsivos */
@media (max-width: 1199px) { /* Para pantallas chicas */
  


  body{
    margin-top: 0;    
      }
    
      .logo{
    display: none;
    }
    
    .logo-mobile{
      display: flex;
      justify-content: center;
    }
    
    .logo-mobile img {
      width: 70%;
      margin-bottom: 10px;
    
    
    }
  .navbar {
    display: none; /* Oculta el menú en pantallas más pequeñas */
  }

  .menu-toggle {
    display: block; /* Muestra el botón del menú */
  }

  .navbar.active {
    display: flex; /* Muestra el menú desplegable al activar la clase */
  }

  .navbar ul {
    align-items: flex-start; /* Alinea los enlaces a la izquierda */
  }

  .servicios_carrusel_seccion_completa {
    width: 90%; /* Ajusta el ancho del carrusel */
  }
.carousel-container{
  padding-left: 10px;
}

  .subtitulo {
    font-size: 30px; /* Reduce el tamaño del texto */
    width: 90%; /* Ajusta el ancho del subtítulo */
  }

  p.quienes-somos {
    font-size: 20px; /* Reduce el tamaño de los párrafos */
    width: 80%; /* Ajusta el ancho del texto */
    padding-bottom: 20px;

  }
}


/* Pantallas de 1200px o más */
@media (min-width: 1200px) {

  header .logo {
    left: 5%;
  }

  .navbar {
    width: 100%; /* La barra de navegación ocupa todo el ancho */

    position: fixed; /* Fija la barra de navegación */
    top: 0; /* Alinea la barra en la parte superior de la ventana */
    background-color: black; /* Fondo negro */
    color: white; /* Texto en blanco */
    z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
    box-sizing: border-box; /* Para incluir el padding dentro del ancho total */
    display: flex;
    justify-content: flex-end; /* Alinea los elementos dentro de la barra de navegación a la derecha */
    padding: 18px 0; 
  }

  .navbar ul {
    flex-direction: row; /* Asegura que los enlaces estén en fila */
    gap: 20px; /* Espacio entre enlaces */
    padding: 0; /* Elimina el padding adicional */
    list-style: none;
    display: flex;

    justify-content:end; /* Alinea los enlaces al centro*/
    align-items: center;  /* Centra verticalmente todos los elementos dentro del header */
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    transition: all 0.3s ease; /* Transición suave */
    border-radius: 10px; /* Esquinas redondeadas */
    padding: 8px 20px;
  }

  .navbar ul li a:hover {
    background-color: white; /* Fondo blanco al pasar el cursor */
    color: black; /* Texto negro al pasar el cursor */
    border: 1px solid black; /* Borde negro */
  }

  .menu-toggle {
    display: none; /* Oculta el botón del menú desplegable */
  }
}



@media (max-width: 768px) { /* Para tablets y móviles */

  body{
margin-top: 0;    
  }

  .logo{
display: none;
}

.logo-mobile{
  display: flex;
  justify-content: center;
}

.logo-mobile img {
  width: 60%;
  margin-bottom: 10px;


}

  header .navbar ul {
    flex-direction: column; /* Muestra los enlaces en columna */
    gap: 10px; /* Reduce el espacio entre enlaces */
    padding-right: 0;
    align-items: flex-start; /* Alinea los enlaces a la izquierda */
  }

  .imagen_principal_carrusel {
    height: 300px; /* Reduce la altura del carrusel */
  }

  .gallery-container {
    display:block;
  }

.gallery-item{
  margin-top: 20px;
  width: 100%;
}

  .subtitulo {
font-size: 1.1rem;
    margin: 0 auto;
  }

  .encabezado_pricipal{
    font-size: 18px;
  }


  .boton-simulacion{
    font-size: 1rem;
    width: 250px;  /* Tamaño fijo para los botones */
    margin-top: 10px;
  }

  .botones-simulacion{
    margin-top: 40px;
  }



  p.quienes-somos {
    font-size: 18px; /* Reduce el tamaño del texto */
    width: 90%; /* Ajusta el ancho */
    margin-top: 80px;
  }

  .secciones-container {
    flex-direction: column; /* Muestra las tarjetas en columna */
    gap: 20px; /* Espacio reducido entre tarjetas */
    width: 100%; /* Ajusta el ancho de las tarjetas */
    padding: 0 10px; /* Añade un pequeño margen interior */
    box-sizing: border-box; /* Asegura que los márgenes estén dentro del ancho */
  }

    /* Ajustar el tamaño de las tarjetas */
    .seccion {
      width: 100%; /* La tarjeta ocupa todo el ancho disponible */
      height: 300px; /* Ajusta automáticamente la altura */
    }
    .tarjeta {
      width: 100%; /*     transform: none; /* Por defecto, las tarjetas no están volteadas */
      transform: none; /* Por defecto, las tarjetas no están volteadas */
      transition: transform 0.6s ease-in-out; /* Animación suave */
    }

    .tarjeta.volteada {
      transform: rotateY(180deg); /* Voltear las tarjetas */
    }

    
  .seccion-front,.seccion-back{
    font-size: 18px;
  }


  .image-container img {
    transform: scale(1); /* Tamaño normal por defecto */
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out; /* Transición suave */
  }

  .overlay {
    opacity: 0; /* Texto oculto por defecto */
    transition: opacity 0.6s ease-in-out; /* Transición suave */
  }

  .image-container.visible img {
    transform: scale(1.2); /* Agranda la imagen al entrar en pantalla */
  }

  .image-container.visible .overlay {
    opacity: 1; /* Muestra el texto al entrar en pantalla */
  }

  .textoservicio{
    font-size: 20px;
  }

    .formulario-contacto .input-group {
      width: 100%; /* Los cuadros ocupan todo el ancho en pantallas pequeñas */
    }
  
    #contacto h2 {
      font-size: 24px;
    }
  
    .formulario-contacto button {
      font-size: 16px;
    }  



}

@media (max-width: 480px) { /* Para móviles pequeños */
  .logo img {
    width: 120px; /* Tamaño del logo más pequeño */
  }

  .navbar ul li a {
    font-size: 16px; /* Reduce el tamaño del texto de los enlaces */
  }

  .imagen_principal_carrusel {
    height: 200px; /* Reduce aún más la altura del carrusel */
  }

  .subtitulo {
    font-size:  20px; /* Ajusta el tamaño del subtítulo */
    align-items: center;
  }

  p.quienes-somos {
    font-size: 16px; /* Reduce el tamaño del texto */
  }
}

